@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(./assets/blurry-gradient-haikei.svg);
  background-color: no-repeat;
  background-size: cover;
  background-position: center;
}
